body{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background-color: #eff5f8;
    color: #001b44;
    text-align: center;
}

.imgbox{
    background-image: url(../images/ff-main-menu.jpg);
    background-size:cover;
    background-position:top;
    height: 100vh;
    width: 100vw;    
    background-position: center;
    background-repeat: no-repeat;
    /* margin: auto; */
}

.main-page{
    display: flex;
    justify-content: center;
}

#startBtn{
    background-color: purple;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-top: 60px;
}

#startBtn > h3{
    color: white;
    font-size: 20px;
}

#questionTimer{
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    width: 120px;
    height: 50px;
}

#questionTimer > h4{
    font-size: 40px;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

#questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

.choices{
    padding-right: 10px;
    border-radius: 5px;
    margin: 10px;
    visibility: visible;
    color: black;
    background-color: orange;
}

.score-result{
   font-size: 20px;
   padding-bottom: 10px;
}

.submit-form{
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin-top: 25px;
}

#todo-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score-label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.high-scores{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
}

#questions{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyId{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.high-scores{
    align-self: center;
}

#goBack, #clearResult{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
